@model List<RendaVariavelViewModel>

<table class="table mx-auto">
    <thead>
        <tr>
            <th class= "white-text" scope="col">Ícone</th>
            <th class= "white-text" scope="col">Sigla</th>
            <th class= "white-text" scope="col">Preço</th>
            <th class= "white-text" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var renda in Model)
        {
            <tr>
                <td>
                    <img id="imgPreview" src="data:image/jpeg;base64,@renda.ImagemEmBase64" class="img-responsive"
                         width="50">
                </td>
                <td class= "white-text">@renda.Sigla</td>
                <td class= "white-text">@renda.Preco</td>
                <td>
                    <a href="javascript:confirmarCompra(@renda.Id)" class="btn btn-success purple-color">Comprar</a>
                </td>
            </tr>
        }
    </tbody>
</table>