<div class="container-sobre">
    <div class="box-sobre">
        <h2>SOBRE O PRODUTO</h2>
        <p>Somos especialistas no que fazemos. Auxiliamos a melhor tomada de decisões relacionadas aos seus investimentos, sempre de acordo com seus objetivos e seu perfil de investidor.</p>

        <p>Na Top Invest, oferecemos uma gama completa de oportunidades de investimento para atender às suas necessidades. Aqui você encontra a possibilidade de comprar ações de renda fixa e variável, bem como gerenciá-las conforme sua estratégia. Em nossas páginas de trade, você pode explorar diferentes tipos de renda variável, desde ações até fundos de investimento, proporcionando a flexibilidade necessária para diversificar sua carteira de acordo com seus objetivos financeiros.</p>

        <p>Para os investidores que buscam estabilidade e previsibilidade, nossa página de títulos oferece uma variedade de opções de renda fixa, incluindo títulos do governo e corporativos, permitindo que você construa uma base sólida para seus investimentos.</p>

        <p>Com a funcionalidade "Meus Ativos", disponível exclusivamente na Top Invest, você tem total controle sobre suas compras e investimentos, podendo monitorar o desempenho de seus ativos em tempo real, receber atualizações e ajustar sua estratégia conforme necessário, tudo em um só lugar.</p>

        <p>Na Top Invest, valorizamos a transparência, a segurança e o atendimento personalizado. Nossa equipe de especialistas está sempre disponível para orientá-lo e ajudá-lo a alcançar seus objetivos financeiros com confiança. Junte-se a nós e comece a investir no seu futuro hoje mesmo.</p>
    </div>
    <div class="box-sobre">
        <h2>SOBRE O DESENVOLVIMENTO</h2>
        <p>A plataforma de investimentos foi desenvolvida com uma abordagem moderna utilizando a arquitetura MVC em C#, garantindo uma estrutura organizada e escalável para a gestão de investimentos.</p>

        <p>O frontend da plataforma é construído utilizando JavaScript para interatividade, CSS para estilização e HTML para estruturação da interface do usuário, proporcionando uma experiência intuitiva e agradável.</p>

        <p>Entre as principais funcionalidades da plataforma, destacam-se a autenticação de usuários, possibilitando o login e cadastro de novos usuários, e a diferenciação de visões entre administrador e usuário.</p>

        <p>Na visão do administrador, é possível cadastrar títulos e trades que serão disponibilizados para os usuários, enquanto na visão do usuário, é possível visualizar, comprar e gerenciar os investimentos.</p>

        <p>Além disso, a plataforma estabelece uma conexão segura com um banco de dados relacional para armazenar informações de usuários, títulos, trades e outras entidades relevantes, garantindo a integridade e segurança dos dados.</p>

        
        <p>Em conclusão, a plataforma de investimentos oferece uma solução completa e confiável para a gestão de investimentos, combinando tecnologias modernas, boas práticas de desenvolvimento e medidas de segurança para proporcionar uma experiência de usuário eficiente e segura.</p>

    </div>
</div>
<div class="box-info">
    <h2>Informações dos Alunos</h2>
    <p>Eloá Torres Cunha - 082210021</p>
    <p>Erik Foramiglio Vieira - 081220015</p>
    <p>Fabrício Santos Gonçalves - 081220019</p>
</div>