@model RendaFixaViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-white">Cadastro de Renda Fixa</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Save" enctype="multipart/form-data">
            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
            <input type="hidden" name="Id" value="@Model.Id" />
            <label for="Descricao" class="text-white control-label">Descrição</label>
            @if (ViewBag.Operacao == "I")
            {
                <input asp-for="Descricao" class="form-control" />
            }
            else
            {
                <input asp-for="Descricao" class="form-control" readonly />
            }
            <span asp-validation-for="Descricao" class="text-danger"></span>

            <br />
            <label for="Rentabilidade" class="control-label text-white">Rentabilidade %</label>
            <input asp-for="Rentabilidade" class="form-control" />
            <span asp-validation-for="Rentabilidade" class="text-danger"></span>

            <label for="Duracao" class="control-label text-white">Duração (meses)</label>
            <input asp-for="Duracao" class="form-control" />
            <span asp-validation-for="Duracao" class="text-danger"></span>

            <br />
            <input type="submit" value="Salvar dados" />
            <br />
            <span class="text-danger">@ViewBag.Erro</span>
        </form>
    </div>
</div>
