@model List<RendaFixaViewModel>

<table class="table">
    <thead>
        <tr>
            <th class="text-white" scope="col">Ações</th>
            <th class="text-white" scope="col">Descrição</th>
            <th class="text-white" scope="col">Duração</th>
            <th class="text-white" scope="col">Rentabilidade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var renda in Model)
        {
            <tr>
                <td>
                    <a href="/rendaFixa/Edit?id=@renda.Id" class="btn btn-primary me-2">Editar</a>
                    <a href="javascript:apagarRenda(@renda.Id)" class="btn btn-danger">Apagar</a>
                </td>
                <td class="text-white">@renda.Descricao</td>
                <td class="text-white">@renda.Duracao</td>
                <td class="text-white">@renda.Rentabilidade</td>
            </tr>
        }
    </tbody>
</table>

<script>
    function apagarRenda(id) {
        if (confirm('Confirma a exclusão do registro?'))
            location.href = '/rendaFixa/Delete?id=' + id;
    }
</script>
