<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área de Investimentos</title>
</head>
<body>
    <div class="container centered">
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-spacing">Investir em Ações</button>
            <button type="button" class="btn btn-primary">Investir em Renda Fixa</button>
        </div>
    </div>

    <div id="resultadoConsulta" class="table-responsive">
        
    </div>
</body>
</html>
