@model List<RendaVariavelViewModel>

<fieldset id="areaFiltro" class="form-group">
    <legend>Filtro</legend>
    <div class="row">
        <div class="col-lg-4">
            Sigla<br />
            <input type="text" id="sigla" class="form-control" />
        </div>
        <div class="col-lg-1">
            <br />
            <input type="button" id="btnFiltro" class="btn btn-success" value="Aplicar"
                   onclick="aplicaFiltroConsultaAvancadaVariavel()" />
        </div>
    </div>
</fieldset>

        </br>
        </br>

<div id="resultadoConsulta" class="table-responsive">
    <table class="table mx-auto">
        <thead>
            <tr>
                <th scope="col">Ícone</th>
                <th scope="col">Sigla</th>
                <th scope="col">Preço</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var renda in Model)
            {
                <tr>
                    <td>
                        <img id="imgPreview" src="data:image/jpeg;base64,@renda.ImagemEmBase64" class="img-responsive"
                             width="50">
                    </td>
                    <td>@renda.Sigla</td>
                    <td>@renda.Preco</td>
                    <td>
                        <a href="/Broker/Compra?id=@renda.Id" class="btn btn-success me-2">Comprar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
